@import '~antd/dist/antd.css';

.dcc-side .ant-menu-item a {
  width: 136px;
  float: right;
}

.logo {
  background-image: url('./static/images/login/logo2-01@2x.png');
  max-width: 200px;
  width: 176px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 18px;
}